#!/[virtualenv directory]/bin/python

import os

virtual_env = '[virtualenv directory]'
app_dir = '[monitores directory]'

os.environ.setdefault('PATH', '/bin:/usr/bin')
os.environ['PATH'] = virtual_env + '/bin:' + os.environ['PATH']
os.environ['VIRTUAL_ENV'] = virtual_env

os.chdir(app_dir)

import sys
sys.path.insert(0, app_dir)

from flup.server.fcgi import WSGIServer
from monitores import app

# You can set the config file location using this envar, or you could put it
# in the app's instance directory
#os.environ['MONITORES_SETTINGS'] = app_dir + 'config.py'

if __name__ == '__main__':
    WSGIServer(app).run()

